@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

* {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  /* border: 3px solid greenyellow; */
  height: 25vh;
}

header p {
  font-size: 60px;
  font-weight: bold;
  color: #e7344e;
  font-family: "Bagel Fat One", system-ui;
  margin: 10px;
  text-align: center;
}

header p:hover {
  cursor: pointer;
}

.search-container {
  float: right;
  display: flex;
  margin-right: 20px;
}

.search-container input {
  margin-right: 5px;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
  width: 180px;
  height: 30px;
  font-size: 15px;
}

.search-container .search-btn {
  border-radius: 5px;
  background-color: #e7344e;
  border: 0;
  color: white;
  cursor: pointer;
}

section {
  position: relative;
  /* border: 3px solid blue; */
  padding: 10px 30px;
}

.movie-container {
  /* border: 3px solid palevioletred; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie-box,
.movie-box img,
.movie-info-box,
.title-score,
.movie-info-box p {
  background-color: rgb(234, 230, 230);
}

.movie-box {
  /* border: 3px solid slateblue; */
  border-radius: 5px;
  margin: 20px 0;
  padding: 5px;
  width: 330px;
  height: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-box:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.movie-box img {
  border-radius: 5px;
  width: 80%;
  z-index: 100;
}

.movie-info-box {
  /* border: 3px solid pink; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
  margin-top: 5px;
  width: 100%;
  height: 50%;
}

.movie-info-box .title-score {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-info-box .title-score .title {
  width: 90%;
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
}

.up-btn {
  position: fixed;
  /* z-index: 100; */
  top: 41vw;
  right: 5px;
  background-color: #e7344e;
  font-size: 30px;
  color: white;
  text-align: center;
  align-content: center;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.up-btn:hover {
  cursor: pointer;
}

footer {
  /* border: 3px solid lightseagreen; */
  margin-top: 40px;
  height: 15vh;
  line-height: 5px;
  text-align: center;
  align-content: center;
  color: white;
}

footer p {
  font-size: 12px;
}
